<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title></title>
</head>

<body>
    @RenderBody()

    <!-- Footer -->
    @RenderSectionOrPartial("Footer", "_footer")
</body>

</html>