@{
    var host = @Document.GetString("Host");
}

<footer class="footer-text">
    <hr />
    <p>
        Copyright &copy; @DateTime.Now.Year - Poy Chang's Blog content licensed under the Creative Commons <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>
        | <a href="https://@host/privacy/">Privacy Policy</a>
        | Unless otherwise stated or granted, code samples licensed under the <a href="https://sm.mit-license.org/">MIT license</a>
        | Build with <a href="https://statiq.dev">Statiq</a> and design based on the <a href="https://github.com/dbtek/dbyll">dbyll theme</a>
    </p>
</footer>